.navbar {
    background-color: #ffcece;
}

.arrumar{
    font-weight: 700;
    font-size: 230%;
}

.customUser {
    margin-right: 2%;
}

.bg1 {
    margin-top: 10%;
    background-color: #ff5757;
}

.txtcustom {
    margin-top: 110px;
    margin-bottom: 30px;
}